[Unit]
Description=DNS on Docker Container
Requires=docker.service
After=docker.service

[Service]
# Change WorkingDirectory to suit your environment
WorkingDirectory = /path/to/this/repository
ExecStart=/path/to/this/repository/dnsmasq-docker.sh start -p 53
ExecStop=/path/to/this/repository/dnsmasq-docker.sh stop

# Change User
User=dnsmasq

Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
